{% extends "main.html" %}
{% block cont %}

<style>
img {
	width: 100%;
}
</style>

<br>

<h2 class="u-stat"><img src="/static/token.svg" alt="Tokens"> &nbsp; {{ user.tokens }}</h2>
<h2 class="u-stat"><img src="/static/rating.svg" alt="Rating"> &nbsp; {{ user.rating }}</h2>

<h2 class="title2">Update avatar</h2>
<img src="{{ preview('users', user.id) }}"><br>

<form action="/sys_profile_edit?url={{ url }}" method="post" enctype="multipart/form-data">
	<input type="file" name="photo" class="photo" id="photo">
	<label for="photo">Select photo</label>
	<script>

$('.photo').on('change', function() {
	var file = this.value.split('\\');
	file = file[file.length-1];

	if ($('div').is('.u-files')) {
		$('.u-files').html(file);
	} else {
		$('label').after('<div class="u-files">' + file + '</div>');
	}
});

	</script>

	<h2 class="title2">Personal information</h2>
	<input type="text" name="name" placeholder="Name"{% if user.name %} value="{{ user.name }}"{% endif %}>
	<input type="text" name="surname" placeholder="Surname"{% if user.surname %} value="{{ user.surname }}"{% endif %}>

	<h2 class="title2">Description</h2>
	<textarea name="description" placeholder="Description">{% if user.description %}{{ user.description }}{% endif %}</textarea>

	<h2 class="title2">Contacts</h2>
	<input type="text" name="mail" placeholder="Mail" value="{{ user.mail }}">

	<h2 class="title2">Change password</h2>
	<input type="password" name="pass" readonly onfocus="this.removeAttribute('readonly')">

	<input type="submit" value="Save">
</form>

	{% endblock %}