{% extends "main.html" %}
{% block cont %}

<style>
img {
	width: 100%;
}
</style>

<h2 class="title2">Обновить аватарку</h2>
<img src="{{ preview('users', user.id) }}"><br>

<form action="settings?url={{ url }}" method="post" enctype="multipart/form-data">
	<input type="file" name="photo" class="photo" id="photo">
	<label for="photo">Выбрать фотографию</label>
	<script>

$('.photo').on('change', function() {
	var file = this.value.split('\\');
	file = file[file.length-1];

	if ($('div').is('.u-files')) {
		$('.u-files').html(file);
	} else {
		$('label').after('<div class="u-files">' + file + '</div>');
	}
});

	</script>

	<h2 class="title2">Личная информация</h2>
	<input type="text" name="name" placeholder="Имя"{% if user.name %} value="{{ user.name }}"{% endif %}>
	<input type="text" name="surname" placeholder="Фамилия"{% if user.surname %} value="{{ user.surname }}"{% endif %}>

	<h2 class="title2">Описание</h2>
	<textarea name="description" placeholder="Описание">{% if user.description %}{{ user.description }}{% endif %}</textarea>

	<h2 class="title2">Контакты</h2>
	<input type="text" name="mail" placeholder="Почта" value="{{ user.mail }}">

	<h2 class="title2">Изменить пароль</h2>
	<input type="password" name="pass" readonly onfocus="this.removeAttribute('readonly')">

	<input type="submit" value="Сохранить">
</form>

	{% endblock %}