{% extends "main.html" %}
{% block cont %}

<div class="u-info" onclick="change();">↑ Tap on the logo ↑</div>

<script>
place('.u-notes', 3, 100, 12, 7, 850, 450);
</script>

<div class="u-title">Experts</div>

<div class="u-notes">
	{% for i in experts %}<a href="/user/{{ i.id }}"><div><div class="u-img" style="background-image: url({{ preview('users', i.id) }}");"></div><div class="u-text">{{ i.surname }} {{ i.name }}<p>@{{ i.login }}</p></div></div></a>{% endfor %}
</div>

<br><br>

{% endblock %}