{% extends "main.html" %}
{% block cont %}

<div class="u-info" onclick="change();">↑ Нажми на лого ↑</div>

<script>
place('.u-notes', 3, 100, 12, 7, 850, 450);
</script>

<a href="/courses"><div class="u-title">Курсы</div></a>

<div class="u-notes">
	{% for i in courses %}<a href="/courses/{{ i.id }}"><div><div class="u-img" style="background-image: url({{ preview('courses', i.id) }}");"></div><div class="u-text">{{ i.name }}<p>{{ i.author }}</p></div></div></a>{% endfor %}
</div>

<br><br>

<a href="/forum"><div class="u-title">Вопросы</div></a>

<div class="u-notes">
	{% for i in questions %}<a href="/forum/{{ i.id }}"><div><div class="u-text">{{ i.name }}<p>{{ i.description }}</p></div></div></a>{% endfor %}
</div>

<br><br>

<a href="/experts"><div class="u-title">Эксперты</div></a>

<div class="u-notes">
	{% for i in experts %}<a href="/users/{{ i.id }}"><div><div class="u-img" style="background-image: url({{ preview('users', i.id) }}");"></div><div class="u-text">{{ i.surname }} {{ i.name }}<p>@{{ i.login }}</p></div></div></a>{% endfor %}
</div>

<br><br>

<div class="u-title">Новости</div>

<br><br>

{% endblock %}