{% extends "main.html" %}
{% block cont %}

{% from 'list_note.html' import list_note %}
{% from 'list_user.html' import list_user %}

<div class="u-info" onclick="change();">↑ Tap on the logo ↑</div>

<script>
place('.u-notes', 3, 100, 12, 7, 850, 450);
</script>

<a href="/ladders"><div class="u-title">Ladders</div></a>

{{ list_note(ladders, preview) }}

<br><br>

<a href="/experts"><div class="u-title">Experts</div></a>

{{ list_user(experts, preview) }}

<br><br>
<!-- 
<div class="u-title">News</div>

<br><br>
 -->
{% endblock %}