{% extends "main.html" %}
{% block cont %}

<style>
img {width: 100%;}

.u-tag {
	background-color: var(--quote);
	font-size: 0.9em;
	padding: 12px;
	border-radius: 15px;
	margin: 3px 7px 3px 7px;
}
</style>

<h2 class="u-title">{{ ladder.name }} &nbsp; <a href="?edit=1"><img src="/static/edit.svg" alt="Edit" title="Edit"></a></h2>

<img src="{{ preview('ladders', ladder.id) }}" alt="{{ ladder.name }}"><br>

{% for i in ladder.tags %}<div class="u-tag">{{ i }}</div>{% endfor %}<br><br>

<div class="u-block">
	{{ ladder.description }}
</div>

<br>

<input type="submit" value="Start" onclick="location.href='question/0';">

<br><br>

{% endblock %}