{% extends "main.html" %}
{% block cont %}

<style>
img {width: 100%; margin-top: 10px;}
</style>

<div class="u-title">Edit ladder &nbsp; <a href="?"><img src="/static/view.png" alt="View"></a></div>

<form action="/sys_ladder_edit?i={{ ladder.id }}" method="post" enctype="multipart/form-data">
	<input type="text" name="name" placeholder="Name" value="{{ ladder.name }}" autocomplete="off" readonly onfocus="this.removeAttribute('readonly')" required>

	<img src="{{ preview('ladders', ladder.id) }}" alt="{{ ladder.name }}"><br>
	<input type="file" name="preview" class="preview" id="preview">
	<label for="preview">Update preview</label>
	<script>

$('.preview').on('change', function() {
	var file = this.value.split('\\');
	file = file[file.length-1];

	if ($('div').is('.u-files')) {
		$('.u-files').html(file);
	} else {
		$('label').after('<div class="u-files">' + file + '</div>');
	}
});

	</script>

	<input type="text" name="author" placeholder="Author" value="{{ ladder.author }}" readonly onfocus="this.removeAttribute('readonly')">
	<textarea name="description" placeholder="Description" class="u-cont" required>{{ ladder.description }}</textarea>

	<br><br>

	<input type="text" name="tags" placeholder="Tags" value="{{ ','.join(ladder.tags) }}" readonly onfocus="this.removeAttribute('readonly')" required>
	<input type="text" name="priority" placeholder="Priority" value="{{ ladder.priority }}" readonly onfocus="this.removeAttribute('readonly')">

	<input type="submit" value="Edit">
</form>

{% endblock %}