{% macro list_step(el, ladder, step, answers) %}
	<h2 class="u-title">{% if el %}Step {{ step }}{% if step == 0 %} (Ground){% endif %} &nbsp; <a href="/sys_step_delete?ladder={{ ladder }}&step={{ step }}"><img src="/static/delete.svg" alt="Delete" title="Delete"></a>{% else %}Add step{% endif %}</h2>

	<form action="/sys_step_{% if el %}edit{% else %}add{% endif %}?ladder={{ ladder }}{% if el %}&step={{ step }}{% endif %}" method="post" enctype="multipart/form-data">
		<input type="text" name="name" placeholder="Name" autocomplete="off" readonly onfocus="this.removeAttribute('readonly')" required{% if el %} value="{{ el.name }}"{% endif %}>
		<textarea name="cont" placeholder="Content" class="u-cont">{% if el %}{{ el.cont }}{% endif %}</textarea>

		<textarea name="options" placeholder="Options (example: option 1; option 2)" class="u-descr" required>{% if el %}{{ ';'.join(el.options) }}{% endif %}</textarea>
		<input type="text" name="answers" placeholder="Answers (example: 1; 2)" readonly onfocus="this.removeAttribute('readonly')"{% if el %} value="{{ answers(el.answers) }}"{% endif %}>

		<textarea name="theory" placeholder="Theory" class="u-cont">{% if el %}{{ el.theory }}{% endif %}</textarea>

		<input type="submit" value="{% if el %}Edit{% else %}Add{% endif %}">
	</form>
{% endmacro %}