<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>{% if title %}{{title}} - {% endif %}{Sectum}</title>
	<link rel ="shortcut icon" type="images/png" href="/static/favicon.png">

	<meta name="author" content="Poloz Alexey (polozhev@mail.ru)">
	<meta name="description" content="{% if description %}{{ description }}{% else %}Open online courses on tokens. Mixed education system.{% endif %}">
	<meta name="keywords" content="{% if tags %}{% for i in tags %}{{ i }},{% endfor %}{% else %}Online courses, mixed education system, courses on tokens{% endif %}">

	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<script src="/static/main_header.js"></script>
</head>
<body>

<div class="u-header">
	<div class="u-logo" onclick="change();">
		<!-- <img src="/static/logo.svg"> -->
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1050 250">
			<defs>
				<style>
.cls-1 {
	font-size: 240px;
	fill: #fff;
	font-family: "Avenir Next";
	font-weight: 700;
}
				</style>
			</defs>
			<text id="_Sectum_" data-name="{Sectum}" class="cls-1" x="3.273" y="197.008">{Sectum}</text>
		</svg>
	</div><div class="u-expand">
		<div class="u-search">
			<form action="/search" method="post">
				<input type="search" name="search" placeholder="Search">
			</form>
		</div><div class="u-user">

{% if user.id %}
			<a href="/cabinet">{{ user.login }}</a> &nbsp;<a href="/sys_sign_out" class="del">Log Out</a>
{% else %}
			<a class="del">Guest &nbsp;</a><a href="/login{% if url %}?url={{ url }}{% endif %}">Log In</a>
{% endif %}

		</div><div class="u-menu{% if without_menu %} u-without-menu{% endif %}">
			<div onclick="location.href='/'"{% if 'index' in url %} class="u-selected"{% endif %}>Main</div>

			<hr>
			
			<div onclick="location.href='/ladders'"{% if 'ladder' in url  %} class="u-selected"{% endif %}>Ladders <a href="/admin/add/ladder" class="u-add">+</a></div>
			<div onclick="location.href='/experts'"{% if 'experts' in url or 'user' in url %} class="u-selected"{% endif %}>Experts</div>

{% if user.admin and user.admin >= 3 %}
			<hr>

			<div onclick="location.href='/cabinet'"{% if 'cabinet' in url %} class="u-selected"{% endif %}>Profile</div>

{% if user.admin >= 6 %}
			<div onclick="location.href='/admin'"{% if 'admin' in url %} class="u-selected"{% endif %}>Admin</div>
{% endif %}
{% endif %}


		</div>

<!-- onclick="ahref('/competions');" -->

	</div>
</div>

<div class="u-body{% if without_menu %} u-without-menu{% endif %}">

{% block cont %}{% endblock %}

</div>

<script src="/static/main_footer.js"></script>

</body>
</html>