{% extends "main.html" %}
{% block cont %}

<style>
.u-block img, .u-check img {width: 100%;}

.u-block a {color: blue;}

code {
	border: 0px !important; /*1px solid var(--border-active);*/
	padding: 5px 10px 5px 10px !important;
	border-radius: 7px;
	background-color: var(--quote);
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 13.5px;
}

.u-check {
	padding: 10px;
	width: 100%;
}

p {
	margin: 0;
}
</style>

<h2 class="u-title">{{ step.name }} &nbsp; <a href="../../study/{{ id }}"><img src="/static/help.svg" alt="Help" title="Help"></a> &nbsp; <a href="?edit=1"><img src="/static/edit.svg" alt="Edit" title="Edit"></a></h2>

{% if step.cont %}
<br>
<div class="u-block">
	{{ step.cont }}
</div>
<br><br>
{% endif %}

<form action="/sys_step_check?ladder={{ ladder }}&step={{ id }}" method="post" enctype="multipart/form-data">
{% for i, el in enumerate(step.options) %}
	<div class="u-check"><input type="checkbox" name="{{ i+1 }}" value="1"> &nbsp; <div>{{ el }}</div></div>
{% endfor %}

	<input type="submit" value="Answer">
</form>

<br><br>

Author: {{ step.user.surname }} {{ step.user.name }}

<br><br>

{% endblock %}