{% extends "main.html" %}
{% block cont %}

{% macro block(id, name, login, price, rating) %}
	<a href="/space/?user={{ id }}&ladder={{ ladder }}&step={{ step }}">
		<div>
			<div class="u-notes2-img">
				<img src="{% if id %}{{ preview('users', id) }}{% else %}/static/bot.svg{% endif %}">
			</div><div class="u-notes2-cont">
				<h2 class="u-title">&nbsp; {{ name }}</h2>
				{% if login %}<p>@{{ login }}</p>{% endif %}
				<div>
					{% if rating %}<h2 class="u-stat"><img src="/static/rating.svg" alt="Rating" title="Rating"> {{ rating }}</h2>{% endif %}
					<h2 class="u-stat"><img src="/static/token.svg" alt="Tokens" title="Tokens"> {{ price }}</h2>
				</div>
			</div><!-- <div class="u-notes2-add">
				<div>Start</div>
			</div> -->
		</div>
	</a>
{% endmacro %}

<style>
.u-notes2, .u-notes2 a {
	width: 100%;
}

.u-notes2 a > div {
	border: 1px dashed var(--border-active);
	border-radius: 12px;
	width: 100%;
	padding: 10px;
	/*position: relative;*/
}

.u-notes2-img {
	width: 70px;
}

.u-notes2-img img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.u-notes2-cont {
	width: calc(100% - 70px); /*220px*/
	padding: 5px 10px 5px 10px;
}

.u-notes2-cont h2 {
	margin: 0;
}

.u-notes2-cont div {
	margin: 5px 0 0 0;
}

/*
.u-notes2-add {
	width: 150px;
	background-color: var(--border-submit);
	cursor: pointer;
	padding: 5px;
	border-radius: 0px 12px 12px 0;
	text-align: center;
	position: absolute;
	left: calc(100% - 160px);
	top: 10px;
	bottom: 10px;
}
*/
</style>

<h2 class="u-title">Study</h2>

<br>

<div class="u-notes2">
{{ block(0, 'Bot', '', bot.price, 0) }}

<br><br><<< Here is the list of teachers >>>

{% for i in teachers %}
{{ block(i.id, i.surname + ' ' + i.name, '@' + i.login, i.price, i.rating) }}
{% endfor %}

{% for i in users %}
{{ block(i.id, i.surname + ' ' + i.name, '@' + i.login, i.price, i.rating) }}
{% endfor %}

</div>

<br><br>

{% endblock %}