{% extends "main.html" %}
{% block cont %}

<style>
	.u-block-photo {
		width: 50%;
	}

	.u-block-photo img {
		width: 100%;
	}

	.u-block-info {
		width: 50%;
		padding: 0 20px 0 20px;
	}

	.u-block-info h2 {
		margin: 0;
	}

	.u-block-info hr {
		margin: 10px 0 10px 0;
	}

	.u-token input {
		width: calc(50% - 14px);
		margin: 7px;
	}

	@media all and (max-width: 640px) {
		.u-block-photo, .u-block-info {
			width: 100%;
		}

		.u-token input {
			width: calc(100% - 14px);
		}

		.u-token input:first-child {
			margin-top: 25px;
		}
	}
</style>

<div class="u-block-photo">
	<img src="{{ preview('users', users.id) }}">
</div><div class="u-block-info">
	<h2>{{ users.surname }} {{ users.name }}</h2>
	 &nbsp; @{{ users.login }}
	<hr>
	{{ users.mail }}
	<br>
	{{ users.description }}
</div>

{% if user.id and user.id != users.id %}
<br>

<form action="/sys_token_send?user={{ users.id }}" method="post" enctype="multipart/form-data" class="u-token">
	<input type="text" name="count" placeholder="Count" autocomplete="off" readonly onfocus="this.removeAttribute('readonly')" required><input type="submit" value="Send tokens">
</form>
{% endif %}

<br><br>

<div class="u-title">Ladders &nbsp; <img src="/static/rating.svg" alt="Rating" title="Rating"> {{ users.rating }}</div><br><br>

<<< Here is the list of active ladders >>>


{% endblock %}